select {
  background: transparent;
  padding: 5px;
  //font-size: 16px;
  //line-height: 1;
  //border: 0;
  //border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 154px;
  height: 26px;
  overflow: hidden;
  //background: url(bottom-arrow.png) no-repeat 96% center #f4f4f4;
  //border: 1px solid #ccc;
}