<% content_for :page_container do %>
<article>
	<div id="page-images" class='row-fluid'>
		<div class="span12">
		<%= render_slideshow_for(resource) %>
		</div>
	</div>
	<div id="page-content" class='row-fluid'>
		<div class="span12">
		<%= render_page_title(resource.title) %>
		<%= render_html_text(resource.body) %>
		</div>
	</div>
</article>
<% end %>
