$th-body-color: #fff;
$th-text-color: #333;
$th-primary-color: #673b15;
$th-footer-height: 60px;

@import "theme/variables";
@import "bootstrap.3.1.1/bootstrap.scss";
@import "theme/patch";
@import "galleria";
//@import "theme/form";
@import "theme/navbar";
//@import "theme/carousel";
@import "theme/footer";

// Color for the js placeholder plugin
.placeholder {
  color: $input-color-placeholder;
}

body {
	background: $th-body-color image-url("concrete_wall_3.png") top left repeat;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: capitalize;
}

.copy-text {
  font-size: 16px;
  table {
    @extend .table;
  }
}


//
// -- Keep footer at bottom on small page
//
html,
body {
  margin:0;
  padding:0;
  height:100%; 
}
  
.th-page-wrapper {
  min-height:100%;
  position:relative;
  padding-bottom: $th-footer-height;
}

.th-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; /* Height of the footer - Adjusted by js */
}


